## Environment ##
NODE_ENV=

## Server ##
PORT=
HOST=

## Setup jet-logger ##
JET_LOGGER_MODE=
JET_LOGGER_FILEPATH=
JET_LOGGER_TIMESTAMP=
JET_LOGGER_FORMAT=

##JWT
JSON_TOKEN_KEY = 

JSON_TOKEN_REFRESH_KEY = 

#MSG91 API KEY 
MSG91_API_KEY = 

#SOLR
SOLR_HOST = 
SOLR_PORT = 
SOLR_CORE = 
SOLR_PROTOCOL =

##### AUTH API
AUTH_API = 